.menu{
	position: absolute;
	top: 0;
	left: 0;
	background-color: $WHITE;
	opacity: 0.95;
	width: 100vw;
	height: 100vh;
	z-index: 10001;
	display: none;

	&.open{
		display: block;
	}

	&.active{
		color: red;
	}
}